<div class="nav-container">
    <div class="nav-content">
        <nav>
            <a href="/">Welcome to Readers Nest</a>
            <a href="/reader">Readers</a>
            <a href="/new-reader">New Reader</a>
            <% if (user) { %>
                <a href="/auth/sign-out">Sign out</a>
                <% } else { %>
                    <a href="/auth/sign-up">Sign Up</a>
                    <a href="/auth/sign-in">Sign In</a>
                    <% } %>
        </nav>
    </div>
</div>