<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading App </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div class="main-container">
        <div class="nav-container">
            <%- include('./partials/nav') %>
        </div>
        <img class="exercise"
        src="https://images.unsplash.com/photo-1518621736915-f3b1c41bfd00?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE4fHxib29rJTIwY2x1YnxlbnwwfHwwfHx8MA%3D%3D"
        alt="a red rose with pages to a book spread out" />
        <div class="content-container">
            <div class="home" id="reading-homepage">
                <h1 id="reading-title">Join Now</h1>
            </div>
        </div>
    </div>
</body>
</html>
</html>