<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading App </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div class="main-container">
        <div class="nav-container">
            <%- include('./partials/nav') %>
        </div>
        <img class="picone"
        src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHJlYWRpbmclMjBjbHVifGVufDB8fDB8fHww" alt = "reading picture"/>
        <div class="content-container"> 
            <div class="home" id="reading-homepage">
                <h1 id="reading-title">Reading Is Dreaming With Open Eyes</h1>
            </div>
        </div>
    </div>
</body>
</html>
</html>