<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading App </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('./partials/nav') %>                
    <div class="home" id="reading-homepage">
        <h1 id="reading-title">Join Now</h1>

    </div>
</body>

</html>