<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="opening-pages-of-wonder">
  <%- include('./partials/nav') %>
    <div class="new-reader-container">
      <div clas="new-reader-content">
        <h1>Opening the Pages Of Wonder</h1>
        <form action="/reader" method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= user.username %>" required>
          </div>

          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
          </div>

          <div class="form-group">
            <label for="level">Level:</label>
            <input type="number" name="level" id="level" required>
            <small class="book-levels">1~Beginner, 2~Intermediate, 3~Advance</small>
          </div>
          
          <button class="click-to-add" type="submit">Click to Add</button>
          <a href="/reader"> Back To Reader Page</a>
      </div>
    </div>
  </form>
</body>

</html>