<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Readers Data Sheet</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <form action="/reader/<%=reader._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= reader.name %></button>
      <a href="/reader/<%= reader._id %>/edit">Edit <%= reader.name %></a>
      <a href="/reader">Back to Readers Page</a>
    </form>
</body>
</html>