<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Readers Data Sheet</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Reader Details</h1>
    <%- include('./partials/nav') %>
  <form action="/reader/<%=reader._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= reader.Name %></button>
    </form>
    <a href="/reader">Back to Readers Page</a>
</body>

</html>