@import url('https://images.unsplash.com/photo-1544185310-0b3cf501672b?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGJvb2slMjBjbHVifGVufDB8fDB8fHww');

body {
    background-color: rgb(166, 185, 174);
}

 /* home.ejs page */
.main-containter {
    background-color: pink;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
 }  

.nav-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: rgb(23, 3, 88);
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 4 px;
    transition: background-color 0.3s;
    text-align: center;

}
nav a:hovver {
    background-color: #e2e6ea;
    color: red;
}


